@media (max-width: 1023px) {
    .header {
        box-shadow: none;
    }
    .container {
        padding-right: 50px;
        padding-left: 50px;
    }
    /* header */
    .header {
        padding-top: 0px;
    }
    .header-container {
        padding-top: 7px;
        padding-bottom: 3px;
        justify-content: space-between;
        margin-right: 0px ;
        margin-left: 0px ;
    }
    .header-nav_list_item:not(:last-child) {
        margin-right: auto;
    }
    .no-js .js-header-nav-list {
        flex-direction: column;
    }
    /* hero */
    .section-hero {
        min-width: 100%;
        margin-left: -50px;
        margin-right: -50px;
    }
    .hero_content {
        min-width:721px;
        padding: 190px 10px 114px 50px;
    }
    /* swiper */
    .slide_1 {
        background-image: url("../img/resp/768@hero.jpg");
     }
    .slide_2 {
        padding-bottom: 699px;
    }
    .slide_3 {
        padding-bottom: 699px;
    }
    .hero_button {
        margin-top: 111px;
        margin-left: -1px;
    }
    /* about */
    .section-about {
        padding-right: 0;
        display: inline-block;
        max-width: 100%;
    }
    .project_box_main {
        padding-top: 476px;
    }
    .project_box-link {
        padding: 23px 30px 22px 30px;
    }
    .project_box_details {
        margin:36px 0px 32px 30px;
    }
    .poject_box_item {
        max-width: 100%;
        margin-top: 40px;
    }
    .project_box_view {
        padding: 37px 25px 35px 175px;
        display: inline-block;
    }
    .project_box_view::before {
        left: 30px;
        bottom: 70px;
        width: 80px;
        height: 80px;
        top:auto
    }
    .project_box_view::after {
        position: absolute;
        left: 30px;
        bottom: 70px;
        top:auto;
        width: 120px;
        height: 88px;
        background-position: center;
        background-size: contain;
    }
    .project_box_team {
        padding: 36px 25px 35px 175px;
        margin-top: 40px;
        display: inline-block;
    }
    .project_box_view_description,
    .project_box_team_description {
        text-align: start;
        margin: auto;
    }
    .project_box_team::before {
        left: 29px;
        bottom: 65px;
        width: 80px;
        height: 80px;
        top:auto
    }
    .project_box_team::after {
        position: absolute;
        left: 35px;
        bottom: 60px;
        top:auto;
        width: 110px;
        height: 110px;
        background-position: center;
        background-size: contain;
    }
    /* stages */
    .section-stages {
        margin-top: 60px;
    }
    .stages_button {
        padding: 0;
    }
    .stages_main {
        padding-right: 0px;
        background-image: url("../img/resp/stages@resp.jpg");
        background-size: 668px 284px;
        background-position: left  top 18%;
    }
    .stages_main_list {
        margin-top: 42px;
    }
    .stages_main_list_item:not(:last-child) {
        margin-right: 155px;
    }
    .stages_main_heading {
        margin-top: 362px;
    }
    .stages_main_description {
        padding-right: 0;
    }
    .stages_box-links {
        margin-top: 43px;
        padding-left: 1px;
    }
    /* reviews */
    .section-reviews {
        margin-top: 60px;  
        padding-bottom: 58px;  
    }
    .reviews_heading {
        font-size: 48px;
        line-height: 58.51px;
        letter-spacing: -0.023em;
        margin-left: 0px;
    }
    .reviews_container {
        margin-top: 37px;
    }
    .line-1 {
        padding-top: 32px;
        padding-bottom: 28px;
    }
    .line-3 {
        padding-top: 23px ;
        padding-bottom: 24px;
        padding-right: 150px;
    }
    .line-4 {
        padding-top: 24px;
        padding-bottom: 27px;
    }
    .line-5 {
        padding-top: 23px ;
        padding-bottom: 25px;
    }
    /* footer */
    .footer {
        padding-bottom: 30px;
    }
    .container_footer {
        display: flex;
        flex-direction: column-reverse;
        padding: 48px 50px 0px 50px;
    }
    .footer_write-us_form {
        max-width: 80%;
        margin-left: 0;
    }
    .footer_write-us_box {
        margin-top: 30px;
    }
    .footer_write-us_button {
        margin-left: 2px;
    }
    .footer_contacts {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }
    .footer_list {
        display: none;
    }
    .footer_contacts_socials {
        margin-top: 0px;
    }
    .footer-logo {
        margin-right: 50px;
    }
    .footer_socials_list {
        margin-top: 5px;
    }
    .check {
        margin-left: 24px;
    }
}
